.spinner {
  width: 100%;
  margin-top: 40vh;
  font-size: 7vw;
}

.spinner-anim {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
